<header class="listing-ads-header">
    <h1>Rent App</h1>
</header>
<main>
    <section class="ads">
      <% for(let i = 0; i < ads.length; ++i) { %>
        <div class="ad">
          <div class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="<%= ads[i].apartmentImages[0] %>" class="d-block w-100" alt="...">
                </div>
                <% for(let j = 1; j < ads[i].apartmentImages.length; ++j) { %>
                  <div class="carousel-item">
                    <img src="<%= ads[i].apartmentImages[j] %>" class="d-block w-100" alt="...">
                  </div>
                <% } %>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div class="ad-info">
              <h3 class="title"><%= ads[i].title %></h3>
              <p class="description">Descriere: <%= ads[i].description %></p>
              <p class="type">Type: <%= ads[i].type %></p>
              <p class="address">Address: <%= ads[i].address %></p>
              <p class="phone">Phone: <%= ads[i].phone %></p>
              <p class="price">Price: <%= ads[i].price %> &euro;</p>
            </div>
        </div>
      <% } %>
        



    </section>
    
</main>